.header {
  background: $header;
  padding: 20px 0;


  &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $black;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__link--active {
    color: $backgroundcolor;
    font-weight: 500;
  }
}